.zig-cache/
zig-out/
.deps/
.deps-public/
out/

.venv/
**/.venv/
**/__pycache__/
**/*.pyc
**/*.egg-info/
python/**/build/
python/**/dist/

python/runtime/src/kiwilang/lib/*
!python/runtime/src/kiwilang/lib/.gitignore
python/runtime/src/kiwilang/licenses/*
!python/runtime/src/kiwilang/licenses/.gitkeep
python/runtime/src/kiwilang/native/*
!python/runtime/src/kiwilang/native/.gitignore
