.zig-cache/
zig-out/
.deps/
.deps-public/
out/

.venv/
**/.venv/
**/__pycache__/
**/*.pyc
**/*.egg-info/
python/**/build/
python/**/dist/

python/host/src/kiwi_array_host/bin/*
!python/host/src/kiwi_array_host/bin/.gitignore
python/host/src/kiwi_array_host/lib/*
!python/host/src/kiwi_array_host/lib/.gitignore
python/host/src/kiwi_array_host/licenses/*
!python/host/src/kiwi_array_host/licenses/.gitkeep
python/host/src/kiwi_array_host/native/*
!python/host/src/kiwi_array_host/native/.gitignore
python/cpu/src/kiwi_array_cpu/bin/*
!python/cpu/src/kiwi_array_cpu/bin/.gitignore
python/cpu/src/kiwi_array_cpu/lib/*
!python/cpu/src/kiwi_array_cpu/lib/.gitignore
python/cpu/src/kiwi_array_cpu/licenses/*
!python/cpu/src/kiwi_array_cpu/licenses/.gitkeep
python/cpu/src/kiwi_array_cpu/native/*
!python/cpu/src/kiwi_array_cpu/native/.gitignore
python/metal/src/kiwi_array_metal/bin/*
!python/metal/src/kiwi_array_metal/bin/.gitignore
python/metal/src/kiwi_array_metal/lib/*
!python/metal/src/kiwi_array_metal/lib/.gitignore
python/metal/src/kiwi_array_metal/licenses/*
!python/metal/src/kiwi_array_metal/licenses/.gitkeep
python/metal/src/kiwi_array_metal/native/*
!python/metal/src/kiwi_array_metal/native/.gitignore
python/cuda12/src/kiwi_array_cuda12/bin/*
!python/cuda12/src/kiwi_array_cuda12/bin/.gitignore
python/cuda12/src/kiwi_array_cuda12/lib/*
!python/cuda12/src/kiwi_array_cuda12/lib/.gitignore
python/cuda12/src/kiwi_array_cuda12/licenses/*
!python/cuda12/src/kiwi_array_cuda12/licenses/.gitkeep
python/cuda12/src/kiwi_array_cuda12/native/*
!python/cuda12/src/kiwi_array_cuda12/native/.gitignore
